/target
**/*.rs.bk
Cargo.lock
.vscode/
sqlitedb_in_here/
sqlitedb_in_here/**
.env
**/notingit/
**/mysql_configuration.1.yml
**/mysql_configuration.2.yml
**/borg_configuration.1.yml
**/borg_configuration.2.yml